{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "nav.html" %}
    <div class="container">
      <div class="row text-center m-3">
        <p style="font-size: 50px;">Community</p>
      </div>
      <div class="row w-100">
        <aside class="col-lg-2 mt-3 mb-3">
          <ul class="list-group">
            <li class="list-group-item">Box Office</li>
            <li class="list-group-item">Movies</li>
            <li class="list-group-item">Genres</li>
            <li class="list-group-item">Actors</li>
          </ul>
        </aside>
    
        <section class="col-lg-10 d-md-block d-lg-none">
          <hr>
          <article class="col">
            <div class="container">
              <h3>Best Movie Ever</h2>
              <h4>Great Movie Title</h3>
              <h5>1 minutes ago</h4>
            </div>
            
          </article>
          <hr>
          <article class="col">
            <div class="container">
              <h3>Movie Test</h2>
              <h4>Great Movie Title</h3>
              <h5>1 minutes ago</h4>
            </div>
            
          </article>
          <hr>
          <article class="col">
            <div class="container">
              <h3>Movie Test</h2>
              <h4>Great Movie Title</h3>
              <h5>1 minutes ago</h4>
            </div>
            
          </article>
        </section>
        <section class="col-lg-10 d-none d-lg-block">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">영화 제목</th>
                <th scope="col">글 제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성 시간</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Best Movie Ever</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Great Movie title</th>
                <td>Movie test</td>
                <td>user</td>
                <td>1 minutes ago</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
  
    </div>
  
  
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>

  
  {% endblock content %} 


