{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "nav.html" %}
<!-- carousel -->
<header>
  <div class="container-xxl p-0">
    <div id="carouselExample" class="carousel slide"  data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static "images/header1.jpg" %}" class="d-block w-100" alt="다스베이더">
        </div>
        <div class="carousel-item">
          <img src="{% static "images/header2.jpg" %}" class="d-block w-100" alt="스파이더맨">
        </div>
        <div class="carousel-item">
          <img src="{% static "images/header3.jpg" %}" class="d-block w-100" alt="조커">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  
</header>

<section>
  <div class="row text-center m-5">
    <p style="font-size: 50px;">Box Office</p>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 m-3">
    <div class="col">
      <div class="card h-100">
        <img src="{% static "images/movie1.jpg" %}" class="card-img-top" alt="영화1">
        <div class="card-body">
          <h5 class="card-title">Movie title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "images/movie2.jpg" %}" class="card-img-top h-75" alt="영화2">
        <div class="card-body">
          <h5 class="card-title">Movie title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "images/movie3.jpg" %}" class="card-img-top h-75" alt="영화3">
        <div class="card-body">
          <h5 class="card-title">Movie title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "images/movie4.jpg" %}" class="card-img-top h-75" alt="영화4">
        <div class="card-body">
          <h5 class="card-title">Movie title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "images/movie5.jpg" %}" class="card-img-top h-75" alt="영화5">
        <div class="card-body">
          <h5 class="card-title">Movie title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "images/movie6.jpg" %}" class="card-img-top h-75" alt="영화6">
        <div class="card-body">
          <h5 class="card-title">Movie title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

</section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

  {% endblock content %}

